// Place all the styles related to the todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-wrap {
  display: flex;
  flex-wrap: wrap;

  .list-box {
    width: 200px;
    height: 250px;
    margin: 10px;
    position: relative;

    .list-comment {
      width: 200px;
      position: absolute;
      left: 0;
      bottom: 0;

      .list-body {
        display: block;
        color: gray;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .list-title {
        display: block;
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
